.ui-panelgrid-footer {
    text-align: center !important;
}

/*
 * Footer
 */

.mastfoot {
    color: #999; /* IE8 proofing */
    color: rgba(255, 255, 255, .5);
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
    /* Pull out the header and footer */
    .masthead {
        position: fixed;
        top: 0;
    }

    .mastfoot {
        margin-left: auto;
        margin-right: auto;
    }

    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }

    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }
}

@media (min-width: 992px) {
    .masthead,
    .mastfoot,
    .cover-container {
        width: 700px;
    }
}

.inner {
    padding: 30px;
}

td, th {
    padding: 6px !important;
}

.list-group-item.text-muted {
    color: gray;
    font-size: 110%;
    font-weight: bold;
}

select[multiple], select[size] {
    color: black;
    CPM: menu a tendina sulla macchina finto
}

.navbar-inverse .navbar-nav > li > form > a {
    color: #b2dbfb;
}

@media (min-width: 768px) {
    .navbar-nav > li > form > a {
        padding-top: 20.5px;
        padding-bottom: 20.5px;
    }
}

.nav > li > form > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

@media (min-width: 768px) {
    .navbar-nav > li > form > a {
        padding-top: 22.5px;
        padding-bottom: 20.5px;
    }
}
